<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск товара</title>
</head>
<body>

<form th:method="POST" th:action="@{/prod/search}">
    <label for="query">Введите поисковый запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать!"/>

    <div th:if="${products}">
        <div th:if="${products.isEmpty()}">
            <span style="color: red">Ничего не найдено</span>
        </div>

        <div th:each="product : ${products}">
            <a th:href="@{/prod/{id}(id=${product.getId()})}" th:text="${product.getTitle()}">title</a>
            <span th:text="${product.getDescription() + ', ' + product.getPrice()}">product</span>
        </div>
    </div>
</form>

<form action="/prod/index"> <input type="submit" value="Отмена" /></form>

</body>
</html>